body {
    font-family: system-ui,'Segoe UI','Open Sans';
    font-size: 2rem;
    font-weight: 800; 
    line-height: 1.5; border: 64px solid #0c0c3d;
  
}
/* default hover effect */
a:hover { animation: glow 1s ease-in-out infinite alternate;
  color:#0264f7; }
.nav {
  text-orientation: sideways-right;
  padding: 2px;
  background-color: #0c0c3d;
  border-bottom: 4px solid #2c2ffa;
}
  /* when hover is supported */
 h1,h2{text-align:center; font-weight: 800;
   line-height: 6;
    color:#f78e02;}

p { text-align:center;
  font-size: 1.50rem;
  max-width: 100ch;
}.glow, h1,h2 {
  animation: glow 4s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow:
    0 0 10px #1202f7, 0 0 20px #1a3cfa, 0 0 30px #070142,
    0 0 40px #010435, 0 0 50px #050453, 0 0 60px #040529, 0 0 70px #202020;
  }
  to {
    text-shadow:
    0 0 20px #8889f3, 0 0 30px #6e4dff, 0 0 40px #5f4dff,
    0 0 50px #9a9bff, 0 0 60px #504dff, 0 0 70px #4d59ff, 0 0 80px #202020;
  }
}
